body{
    margin: 0;
    padding: 3.5rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5rem;
}


.header{
    padding: .5rem 1rem;
    height: 3.5rem;
    background-color: #1976d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.menu-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menu-icon img:hover{
    transform: scale(1.08);
}

.options{
    display: flex;
}

.options a{
    font-size: .8rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
    padding: .4rem;
}

.options a:hover{
    transition: all .5s ease;
    background-color: white;
    border-radius: 1rem;
    color: #1976d2;
}

/*I****************************** Menu *********************************/

.hide{
    transition: all .5s ease;
    width: 0rem;
    border: none;
}

.show{
    transition: all .5s ease;
    width: 19rem;
    border-right: 1px solid rgb(221, 221, 221);
}

.menu-tools{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    z-index: 1;
    background-color: white;
    outline: none;
}

.menu-tools h3 {
    margin: 1.6rem 0;
    width: 100%;
    min-width: 15rem;
    color: rgb(117, 117, 117);;
    text-align: center;
    font-weight: 400;
    position: relative;
}

.menu-tools h3::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.menu-options {
    overflow-x: hidden;
    width: 100%;
    min-width: 15rem;
}

.menu-options a {
    overflow: hidden;
    padding: .6rem 1.6rem .6rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
    color: rgb(56, 56, 56);
    font-weight: bold;
    font-size: 0.9rem;
}

.menu-options a:hover{
    background-color: #1976d2;
    color: white;
    transform: scale(1.09);
}

.menu-options svg{
    margin: 0 1rem 0 .3rem;
}


/*F****************************** Menu *********************************/