.home{
    height: calc(100vh - 3.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-4-2{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.logo{
    max-width: 12rem;
}

.main .phrase{
    color: rgb(43, 43, 43);
    margin: 1.5rem 0;
    font-weight: 500;
}


.main p{
    line-height: 1.7;
    font-size: 1.1rem;
    color: rgb(85, 85, 85);
    font-weight: 400;
    text-align: justify;
}


@media only screen and (min-width: 320px) and (max-width: 736px) {
    .grid-4-2{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .logo{
        grid-row-start: 1;
        width: 100%;
        max-width: 100%;
        width: 8rem;
    }

    .main{
        padding: 2.5rem;
    }

    .main h1{
        text-align: center;
        font-size: 1.7rem;
    }

}