.home{
    height: calc(100vh - 3.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-4-2{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.logo{
    max-width: 12rem;
}

.main .phrase{
    color: rgb(43, 43, 43);
    margin: 1.5rem 0;
    font-weight: 500;
}


.main p{
    line-height: 1.7;
    font-size: 1.1rem;
    color: rgb(85, 85, 85);
    font-weight: 400;
    text-align: justify;
}


@media only screen and (min-width: 320px) and (max-width: 736px) {
    .grid-4-2{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .logo{
        grid-row-start: 1;
        width: 100%;
        max-width: 100%;
        width: 8rem;
    }

    .main{
        padding: 2.5rem;
    }

    .main h1{
        text-align: center;
        font-size: 1.7rem;
    }

}


/****************************** TOOLS SECTION *****************************/

.tools{
    width: 90%;
    margin: 0 auto;
}

.tool-content{
    margin: 3rem 0;
    background-color: rgb(238, 238, 238);
    border-radius: 1rem;
    padding: 1rem;
}

.tool-content div{
    width: 100%;
}

.tool-content img{
    max-width: 2.5rem;
    display: block;
    margin: 0 auto;
}

.tool-content .description {
    padding: .8rem;
    background-color: rgb(223, 223, 223);
    border-radius: 1rem;
    margin: .8rem 0;
}


.tool-content .description p{
    line-height: 1.7;
    text-align: justify;
}



@media (min-width: 736px) and (max-width: 900px) {
    .tools{
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }
}

/**************************************************************************/