/******************************** GENERAL *********************************/

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

.body{
    margin: 0;
    padding: 3.5rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.center{
    text-align: center;
}

input[type="file"]{
    display: none;
}

/**************************************************************************/



/****************************** GRID COLUMNS ******************************/

.col-4-2{
    display: grid;
    grid-template-columns: 4fr 2fr;
}


@media only screen and (min-width: 320px) and (max-width: 736px) {
    .col-4-2{
        display: block;
    }
}

/**************************************************************************/




/********************************* WIDTH **********************************/

.mw-80{
    max-width: 40rem;
}

/**************************************************************************/

/******************************** PADDING *********************************/

.pd-1{
    padding: 1.4rem;
}

/**************************************************************************/


/******************************** BUTTONS *********************************/

.btn{
    min-width: 4.8rem;
    min-height: 2rem;
    padding: .4rem;
    border-radius: .4rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-primary{
    background-color: #1976d2;
    color: white;
}

/**************************************************************************/


/******************************* SEPARATOR ********************************/

.separator{
    height: 3rem;
    width: 100%;
    background-color: rgb(17, 82, 147);
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************************************************************/

/******************************** TITTLE **********************************/

.page-title{
    padding: 2rem;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0px 7px 16px 5px rgba(62,62,62,0.5) inset;
    -webkit-box-shadow: 0px 7px 16px 5px rgba(62,62,62,0.5) inset;
    -moz-box-shadow: 0px 7px 16px 5px rgba(62,62,62,0.5) inset;
    color: rgb(109, 109, 109);
}

/**************************************************************************/