/* INIT********* CSS styles for login form ********* */
body{
    padding: 0;
}

.login-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.content{
    padding: 2rem 1.5rem;
}

.form{
    position: absolute;
    right: 0;
    left: 0;
    top: 7rem;
    overflow: hidden;
    padding: 0;
    max-width: 25rem;
    border: 1px solid rgb(155, 155, 155);
    border-radius: .3rem;
    background-color: white;
    box-shadow: 2px 4px 24px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: 2px 4px 24px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: 2px 4px 24px -1px rgba(0,0,0,0.67);
    margin: 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .form{
        top: 10rem;
        max-width: 90%;
    }
}

.login-top{
    height: 8rem;
    text-align: center;
    position: relative;
}

.login-top img{
    height: 100%;
}

.login-top h1{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1rem;
    font-weight: 400;
    /* text-transform: uppercase; */
    color: white;
    font-size: 1.5rem;
}


.form-field{
    height: 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-field label{
    display: inline-block;
    max-width: 2rem;
    padding: .4rem;
}

.form-field input{
    height: 100%;
    width: calc(100% - 2rem);
    padding: .8rem;
    border: none;
    outline: none;
    background-color: white;
}

.form-field label img{
    width: 100%;
}

.blue{
    border: 1px solid #1976d2;
}

.blue label{
    background-color: #1976d2;
}

.btn-submit{
    width: 100%;
    height: 2.5rem;
    border-radius: .1rem;
    background-color: #1976d2;
    color: white;
    outline: none;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}


/* END********** CSS styles for login form ********* */