/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/header.css ***!
  \*************************************************************************/
body{
    margin: 0;
    padding: 0;
}

.header{
    height: 2.5rem;
    width: 100%;
    background-color: #1976d2;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./static/css/main.css ***!
  \***********************************************************************/

